* {
  box-sizing: border-box;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #494949;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
